.playerHand {
  display: flex;
  gap: 20px; /* Space between cards */
  justify-content: center;
  position: absolute;
  bottom: 140px; /* Space between bottom of table and cards */
  width: 100%;
}

.card {
  width: 110px; /* Card size */
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}


